# Ambiente virtual / variáveis de ambiente
.env

# Cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook
.ipynb_checkpoints/

# Arquivos de sistema
.DS_Store
Thumbs.db

# Logs (caso futuramente existam)
*.log
